@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Nunito";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.general{
  background-image: url('../FONDO-ENTERO.jpg');
  background-repeat: repeat;
}


    /* preload url('https://res.cloudinary.com/denkdx0za/image/upload/c_fill,w_444,h_250,ar_16:9/v1711562707/FONDO_pl6txd.png'); */
    
    .banner-principal {
      background-image: url('https://res.cloudinary.com/denkdx0za/image/upload/c_fill,w_444,h_250,ar_16:9/v1711562707/FONDO_pl6txd.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 250px;
    }

    .pachaImg {
      max-width: 25%;
      height: auto;
    }

    .imgOne {
      width: 70%;
    }

    .imgIconViaje {
      width: 54px;
      height: 64px;
    }
    #swiper1 {
  width: 100%;
  height: 600px;
}
#swiper2 {
  width: 100%;
  height: 300px;
}

.tripa {
  position:absolute;
  left:calc(50% - 10px);
  /* height:100vh; */
  height: 100%;

}
.miniTripa {
  position:absolute;
  top:0;
  left:calc(50% - 3px);
  /* height:100vh; */
  height: 100%;
  border-left-color: #6B7280;
  border-left-style:solid;
  border-left-width: 5.6px;
}
.incluye {
  background-image: url('https://res.cloudinary.com/denkdx0za/image/upload/c_crop,w_400,h_711,ar_9:16/v1711805029/IMAGE-INCLU_y7wrnr.png');
  background-size: cover;
}
.hotelCarac img{
  width:40.5px;
  height:40.5px;
}
.hotelCarac div {
  /* width: 50px; */
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content: center;
  align-items:center;
}
.hotelCarac p {
  font-size:12px;
  width:50%;
  text-align:center;
}
.GuiaCarac img{
  width:40.5px;
  height:40.5px;
}
.GuiaCarac div {
  /* width: 50px; */
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content: center;
  align-items:center;
}
.GuiaCarac p {
  font-size:12px;
  width:50%;
  text-align:center;
}
.compromisos img{
  width:40.5px;
  height:40.5px;

}
.foot {
    background-image:url('https://res.cloudinary.com/denkdx0za/image/upload/v1712006725/Rectangle_20_b8kqox.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
  }
  .footi {
    width: 90%;
    padding-top: 1.5rem;
  }
  .footi img{
    width: 30px;
    height: 33px;
  }

  .tripleImg div img{
  width:150px;
  height:200px;
}
.containerVideo {
      display: flex;
      justify-content: center;
 }


iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq {
  background-color: transparent;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.faq.active::before,
.faq.active::after {
  content: "\f075";
  font-family: "Nunito";
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}


    @media (min-width: 992px) {
      .banner .desc{
 position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
    
  }
    .banner .pacha {
position: absolute;
  width: 100%;
  top: 0;
  margin-bottom: 0;

  }
      .banner-principal {
        background-image: url('https://res.cloudinary.com/denkdx0za/image/upload/v1711562707/FONDO_pl6txd.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 130vh;
      }

      .imgIconViaje {
        width: 60px;
        height: 72px;
      }

      .imgOne {
        width: 75%;
      }
      .incluye {
    background-image: url('https://res.cloudinary.com/denkdx0za/image/upload/v1711805029/IMAGE-INCLU_y7wrnr.png');
  }
  .GuiaCarac img{
  width:70.5px;
  height:70.5px;
}
  .GuiaCarac p {
  font-size:20px;
  width:50%;
  text-align:center;
}
  .hotelCarac img{
  width:100px;
  height:100px;
}
.hotelCarac div {
  /* width: 50px; */
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content: center;
  align-items:center;
}
.hotelCarac p {
  font-size:18px;
  width:50%;
  text-align:center;
}
  .reconocimiento img{
    width: 400px;
    height: 500px;
  }
.iconsRedes svg{
    width:60%;
    height: 60%;
  }
  /* faq */


.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq {
  background-color: transparent;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.faq.active::before,
.faq.active::after {
  content: "\f075";
  font-family: "Nunito";
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}
  .foot {
    background-image:url('https://res.cloudinary.com/denkdx0za/image/upload/v1712002246/MONT_Mesa_de_trabajo_1_mv1ssn_c_fill_ar_16_9_bpqjek.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
  }
  .footi {
    width: 90%;
    padding-top: 1.5rem;
  }
  .footi img{
    width: 30px;
    height: 33px;
  }
    
  .imgOne {
    width:70%;
    height: 80%;
  }
  
  .tripleImg div img{
  width:300px;
  height:400px;
}
  
    }



